body {
    padding: 0;
    margin: 0;
}

.custom-menu-class {
    display: none;
}

#navbar {
    display: flex;
    gap: 40px;
}

.heading {
    font-family: 'Menlo', sans-serif;
    width: 70%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 125px;
}

.text {
    margin-left: 100px;
    padding: 40px;
    line-height: 15px;

}

.text h1 {
    font-size: 40px;
}

.text h2 {
    font-weight: normal;
    color: grey;
    font-size: 25px;
    margin-left: 72px;

}

.image {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 75px;

}

.image img {
    height: 250px;
    width: 250px;
    border-radius: 25px;
}

.borderbot {
    border-bottom: 1px solid black;
    width: 150px;
    height: 200px;
}







.menu {
    width: 100%;
    height: 100px;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-top: -100px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;


}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    background-color: white;
    width: 150px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 25px;
    font-family: 'Menlo', sans-serif;
    color: grey;
    font-size: 20px;
}

#btn:hover {
    color: white;
    background-color: #70707084;
}


.bigtext {
    display: flex;
    align-items: center;
    height: 250px;
    width: 100%;
    border-bottom: 1px solid black;
    font-family: 'MADE Okine Sans PERSONAL USE';
    text-transform: uppercase;
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 50px;
}

.bigtext p {
    margin: 0;
    padding: 25px;

}



.content {
    display: block;

}

.works {
    text-decoration: none;
}

.video {
    display: flex;
    justify-content: center;
}

.graph {

    border-top: 1px solid;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph:hover {
    background-color: #70707084;
    color: white;
}

.graph h1:hover {
    color: white;
}

.graph h1 {
    font-family: 'MADE Okine Sans PERSONAL USE';
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    font-weight: lighter;

}


a {
    text-decoration: none;
}

.ill {

    border-bottom: 1px solid;
    border-top: 1px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ill h1 {
    font-family: 'MADE Okine Sans PERSONAL USE';
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    font-weight: lighter;
}

.ill:hover {
    background-color: #70707084;
    color: white;
}

.ill h1:hover {
    color: white;
}

.portfolio-item {
    margin-left: 30px;

}

.photo {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texty {
    line-height: 15px;
    font-family: 'MADE Okine Sans PERSONAL USE';
    letter-spacing: 5px;
    margin-top: 40px;
    width: 50%;
}

.data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 300px;

}




.goBack {
    margin: 30px 0px 5px 30px;
    width: 100px;
    background-color: white;
    color: #707070;
    border: 1px solid black;
    border-radius: 25px;
    font-family: 'Menlo', sans-serif;
    padding: 15px;
}

.goBack:hover {
    background-color: #70707084;
    color: white;

}








footer {
    display: flex;
}

.footer1 {
    height: 200px;
    width: 700px;
    border-top: 1px solid black;


}

.footer2 {
    height: 200px;
    width: 800px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footText {
    font-family: 'MADE Okine Sans PERSONAL USE';
    font-weight: lighter;
    font-size: 50px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.bordrig1 {
    width: 300px;
    height: 55px;
    border-right: 1px solid black;

}

.bordrig2 {
    width: 300px;
    height: 80px;
    border-right: 1px solid black;
}

.icons {
    width: 200px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 100px);
}








/* Resposive part1 */

@media screen and (width < 1400px) {
    #btn {

        margin-left: 50px;
        background-color: white;
        width: 130px;
        padding: 10px 15px;
        border: 1px solid black;
        border-radius: 25px;
        font-family: 'Menlo', sans-serif;
        color: grey;
        font-size: 20px;
    }


    .bigtext {

        height: 250px;
        width: 100%;
        font-size: 55px;
        font-weight: lighter;
        margin-bottom: 50px;
    }

    .bigtext p {
        margin: 0;
        padding: 15px;

    }


}





@media screen and (width < 1100px) {

    .texty {
        line-height: 30px;
        font-family: 'MADE Okine Sans PERSONAL USE';
        letter-spacing: 5px;
        margin-top: 40px;
        width: 50%;
    }

    .data {
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #btn {
        display: none;
    }

    .heading {
        font-family: 'Menlo', sans-serif;
        width: 70%;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        height: 200px;
    }


    .text {

        margin: 0px;
        line-height: 15px;

    }

    .text h1 {
        font-size: 20px;

    }

    .text h2 {
        font-weight: normal;
        color: grey;
        font-size: 15px;
        margin-left: 10px;


    }

    .image {

        height: 180px;
        width: 180px;
        margin: 20px 15px 0px 0px;
        border: 1px solid black;
        display: flex;
        border-radius: 25px;


    }

    .image img {
        height: 180px;
        width: 180px;
        border-radius: 25px;
    }

    .borderbot {
        display: none;
    }



    .bigtext {
        display: flex;
        align-items: center;
        height: 200px;
        width: 100%;
        border-bottom: 1px solid black;
        font-family: 'MADE Okine Sans PERSONAL USE';
        text-transform: uppercase;
        font-size: 30px;
        font-weight: lighter;

    }

    .bigtext p {
        margin: 0;
        padding: 25px;

    }




    .graph {

        border-top: 1px solid;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .graph h1 {
        font-family: 'MADE Okine Sans PERSONAL USE';
        text-transform: uppercase;
        color: black;
        font-size: 30px;
        font-weight: lighter;

    }

    .ill {

        border-bottom: 1px solid;
        border-top: 1px solid black;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ill h1 {
        font-family: 'MADE Okine Sans PERSONAL USE';
        text-transform: uppercase;
        color: black;
        font-size: 30px;
        font-weight: lighter;
    }





    .footer1 {
        height: 200px;
        width: 700px;
        border-top: 1px solid black;


    }

    .footer2 {
        height: 200px;
        width: 800px;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .footText {
        font-family: 'MADE Okine Sans PERSONAL USE';
        font-weight: lighter;
        font-size: 30px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .bordrig1 {
        width: 100px;
        height: 55px;
        border-right: 1px solid black;

    }

    .bordrig2 {
        width: 100px;
        height: 80px;
        border-right: 1px solid black;
    }

    .icons {
        width: 200px;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(2, 100px);
    }






}